---
layout: default
title: Homepage of Aniruddha Saha
---

<div class="container">

  <section class="header">
    <div class="row">
      <div class="three columns">
        <a href="{{ site.baseurl }}/"><img class="u-max-full-width" src='{{ site.baseurl }}{{ site.data.main_info.profile_pic }}'></a>
      </div>
      <div class="nine columns main-description">
          <h1>{{ site.data.main_info.name }}</h1>
          <p>{{ site.data.main_info.title }}</p>
          <p>{{ site.data.main_info.email }}</p>
          <p>
            <span onclick="window.open('{{ site.data.main_info.twitter }}')" style="cursor: pointer">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </span>

            <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </span>

            <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer">
              <i class="fa fa-github" aria-hidden="true"></i>
            </span>
          </p>
      </div>
    </div>
  </section>

  <div class="navbar-spacer"></div>
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#bio" | prepend: site.baseurl }}>Bio</a></li>
        <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#publications" | prepend: site.baseurl }}>Publications</a></li>
        <!---
        <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#people" | prepend: site.baseurl }}>People</a></li>
        --->
        <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#resume" | prepend: site.baseurl }}>Resume</a></li>
      </ul>
    </div>
  </nav>

  {{ content}}

  <div class="footer">
    <div class="row">
      <div class="four columns">
        {{ site.data.main_info.name }}
      </div>
      <div class="four columns">
        {{ site.data.main_info.email }}
      </div>
      <div class="four columns">
        <span onclick="window.open('{{ site.data.main_info.twitter }}')" style="cursor: pointer">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </span>
        <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </span>
        <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer">
          <i class="fa fa-github" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>

</div>

<!-- Google Analytics -->
{% include google_analytics.html %}

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    This summer, I am interning at Matroid where I'll be primarily developing Computer Vision solutions for Matroid's platform.
  </p>
  <p>
    I am currently pursuing my PhD in Computer Science at University of Maryland, Baltimore County advised by Dr. Hamed Pirsiavash. My area of research is Computer Vision. I have spent a significant amount of time working on adversarial attacks and defenses - especially for object detection. I have also worked on the currently developing area of poisoning/backdoor attacks on Convolutional Neural Networks.
  </p>
  <p>
    Prior to this, I was a Software Engineer at Samsung Research Institute Bangalore, India where I was part of the DRAM Group in the Memory Team of Samsung Semiconductor India Research. 
  </p>
  <p>
    I spend my time taking photos, blogging, playing football, watching good movies and listening to music. I am an avid follower of sports and a supporter of Manchester United FC. 
  </p>

</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="https://scholar.google.com/citations?user=xfjALj0AAAAJ&hl=en" target="_blank">Google Scholar</a>.</p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-CV">Computer Vision</div></li>
  </ul>

  <div class="tab-content">

    <!-- CV PAPERS -->
    <div class="tab-pane active" id="papers-CV">
      {% assign cv_papers = site.data.publications.papers | where: "cv", "y" %}
      {% for paper in cv_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>    
    
  </div>
</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Resume</h4>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


  <div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>
  </p>

</div>
